* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}
#overall-content {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
/* .container {
    border: 1px solid red;
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
} */
/* body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
} */
/* .container {
    border: 1px solid red;
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
} */
#div1 {
    /* margin-right: 100px; */
    background-color: #F2F1F1;
    padding-top: 70px;
    padding-bottom: 50px;
    height: 545px;
    width: 100%;
}
#text {
    margin: 50px 0px 0px 0px;
}
#text h3 {
    color: #121848;
}
#input {
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
#form {
    display: flex;
}
button {
    color: rgba(255, 255, 255, 0.616);
    background-color: #121848;
}
#button {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    /* padding: 10px; */
    width: 138px;
    height: 40px;
}
#div2 {
    height: 500px;
    width: 100%;
    /* padding-right: 20px;
    padding-left: 20px; */
}
#img1 p {
    height: 34px;
    width: 247px;
    margin-left: 150px;
    margin-right: 0px;
    background-color: #F2F1F1;
    padding-left: 20px;
}
#img p {
    height: 34px;
    width: 247px;
    margin-left: 23px;
    margin-right: 0px;
    background-color: #F2F1F1;
    padding-left: 20px;
}
#div2-content-first, #div2-content-second {
    display: flex;
    margin-left: -50px;
}
.services h4 {
    margin: 50px 0px 20px 100px;
}
#line {
    background-color: #C4C4C4;
    width: 448px;
    height: 10px;    
}
#line1 {
    width: 357px;
    height: 10px;
    background-color: #5A67CC;
    margin-top: -10px;
}
#line2 {
    width: 330px;
    height: 10px;
    background-color: #5A67CC;
    margin-top: -10px;
}
#line3 {
    width: 292px;
    height: 10px;
    background-color: #5A67CC;
    margin-top: -10px;
}
#line4 {
    width: 318px;
    height: 10px;
    background-color: #5A67CC;
    margin-top: -10px;
}
#line5 {
    width: 395px;
    height: 10px;
    background-color: #5A67CC;
    margin-top: -10px;
}
#div3 {
    height: 450px;
    background-color:#121848;
    color: white;
    width: 100%;
}
#div3 .row .col-md-6 .header {
    margin: 100px 0px 0px 100px;
}
#div3 .row .col-md-6 .para {
    margin: 20px 0px 0px 100px;
}
#progress {
    margin: 100px 0px 0px 0px;
}
#div4 {
    background-color: #E8E8EB;
    height: 420px;
    width: 100%;
}
#div4 a {
    text-decoration: none;
    color: black;
}
#div4 ul li {
    list-style-type: none;
    margin-left: 50px;
    margin-right: 0px;  
}
#div4 h4 {
    margin-left: 80px;
    margin-right: 0px;
}
#footer {
    margin-top: auto;
}
#footer ul {
    display: flex;
}
#info {
    padding-top: 90px;
    padding-bottom: 30px;
    }
.change {
    display: none;
}
#footer ul li #insta, #footer ul li #fb, #footer ul li #twit {
    margin-left: 250px;
}
@media only screen and (max-width: 320px) {
    #div1 {
        width: 100%;
        height: 680px;
        margin-top: -150px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .top-image {
        margin: 380px 0px 0px 0px;
        height: 200px;
        padding-right: 20px;
        padding-left: 20px;
    }
    #overall-content #div1 .row .col-md-6 #image {
        height: 300px;
    }
    #input {
        width: 100px;
        margin-left: 0px;
    }
    #text {
        margin-top: -220px;
    }
    .hide {
        margin: 20px 0 0 0px;
        display: none;
    }
    .change {
        margin-top: 30px;
        display: inline-block;
    }
    .services h4 {
        text-align: left;
        padding: 10px;
        margin: 0px;
    }
    #div2 {
        height: 2050px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    #div2-content-first {
        display: block;
    }
    #div2-content-second {
        display: block;
    }
    #img1 {
        margin-left: -100px;
    }
    #img {
        margin-left: 25px;
    }
    #div2-content-first #img img, #div2-content-second #img img {
        width: 282px;
    }
    #div2-content-first #img p, #div2-content-second #img p {
        width: 282px;
    }
    #div2-content-first #img p span, #div2-content-second #img p span {
        margin-left: 500px;
    }
    .fa-arrow-right:before {
        content: "\f061";
        padding-left: 40px;
    }
    #div2-content-first #img1 img, #div2-content-second #img1 img {
        width: 282px;
    }
    #div2-content-first #img1 p, #div2-content-second #img1 p {
        width: 282px;
    }
    #progress {
        display: none;
    }
    #div3 .row .col-md-6 .header {
        margin: 20px 0 0 20px;
    }
    #div3 .row .col-md-6 .para {
        margin: 20px 0 0 20px;
        display: none;
    }
    #div3 .row .col-md-6 .change {
        display: inline-block;
        margin: 20px 0 0 20px;
    }
    #div3 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }
    #div4 {
        width: 100%;
        height: 620px;
        padding-right: 20px;
        padding-left: 20px;
    }
    #footer {
        width: 100%;
    }
    #div4 ul li {
        margin: 0; 
    }
    #footer ul li {
        margin: 0 10px 0 0; 
    }
    #footer ul li a{
        display: none;
    }
    #div4 h4 {
        margin-left: 30px;
    }
    #info {
        padding-top: 10px;
    }
    #div4 #info .row .col-md-3 #service {
        margin-top: -225px;
        margin-left: 150px;
    }
    #div4 #info .row .col-md-3 #resources {
        margin-top: -225px;
        margin-left: 150px;
    }
    #hide {
        font-size: 15px;
    }
  }
  @media only screen and (max-width: 540px) and (min-width: 321px) {
    #div1 {
        width: 100%;
        height: 500px;
    }
    .top-image {
        margin: 200px 0px 0px 0px;
        height: 200px;
        padding-right: 20px;
        padding-left: 20px;
    }
    #input {
        margin-left: 0;
        width: 35%;
    }
    #text {
        margin-top: -430px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hide {
        margin: 20px 0 0 0px;
        display: none;
    }
    .change {
        margin-top: 30px;
        display: inline-block;
        margin: 20px 0 0 0px;
    }
    
    .services h4 {
        text-align: left;
        margin: 0px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #div2 {
        height: 100%;
        width: 100%;
    }
    #div2-content-first {
        display: block;
        /* text-align: center; */
    }
    /* #div2-content-first #img1, #div2-content-second #img1 {
        border: 1px solid red;
    }
    #div2-content-first #img, #div2-content-second #img {
        border: 1px solid red;
    } */
    #div2-content-second {
        display: block;
    }
    #div2-content-first #img img, #div2-content-second #img img {
        /* border: 1px solid red; */
        /* margin-left: 220px; */
        
    }
    #div2-content-first #img p, #div2-content-second #img p {
        /* border: 1px solid red; */
        width: 100%;
    }
    /* #div2-content-first #img p span, #div2-content-second #img p span {
        border: 1px solid red;
    } */
    #div2-content-first #img1 img, #div2-content-second #img1 img {
        /* border: 1px solid red; */
        width: 100%;
    }
    #div2-content-first #img img, #div2-content-second #img img {
        /* border: 1px solid red; */
        width: 100%;
    }
    #div2-content-first #img1 p, #div2-content-second #img1 p {
        /* border: 1px solid red; */
        width: 100%;
    }
    .fa-arrow-right:before {
        content: "\f061";
        margin-left: 400%;
    }
    #img1 {
        margin-left: -99px;
        width: 88%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #img {
        margin-left: 28px;
        width: 88%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #progress {
        display: none;
  }
  #div3 {
        width: 100%;
        height: 250px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
  }
#div3 .row .col-md-6 .header {
    margin: 5% 0 0 5%;
}
#div3 .row .col-md-6 .para {
    margin: 5% 0 0 5%;
    display: none;
}
#div3 .row .col-md-6 .change {
    display: inline-block;
    margin: 5% 0 0 5%;
}
#div4 {
    width: 100%;
    height: 550px;
}
#div4 ul li {
    margin-left: 0; 
}
/* #footer {
    border: 1px solid red;
} */
#footer ul li {
    margin: 0 10px 0 0; 
}
#footer ul li:nth-child(1) {
    padding-left: 20px; 
}
#footer ul li:nth-child(9) {
    padding-right: 20px; 
}
#footer ul li:nth-child(5) {
    margin-left: -10px; 
}
#footer ul li a{
    display: none;
}
#div4 h4 {
    margin-left: 30px;
}
#info {
    padding-top: 10px;
}
#div4 #info .row .col-md-3 #service {
    margin-top: -225px;
    margin-left: 150px;
    width: 100%;
}
#div4 #info .row .col-md-3 #resources {
    margin-top: -225px;
    margin-left: 150px;
    width: 100%;
}
#div4 #info .row .col-md-3 #company {
    width: 100%;
}
#div4 #info .row .col-md-3 #design {
    width: 100%;
}
#hide {
    font-size: 15px;
}
#footer ul{
    margin-left: -30px;
}
#footer ul li #insta, #footer ul li #fb, #footer ul li #twit {
    margin-left: 250px;
    margin-left: 0;
}
#info {
    padding-bottom: 0px;
}
}
  @media only screen and (min-width: 541px) and (max-width: 720px) {

  }
